.bundle-field .bundle-input-area input, .bundle-field .bundle-input-area label {
  display: inline; }
.bundle-field .bundle-input-area input {
  width: 50px;
  margin-right: 10px; }
.bundle-field .bundle-input-area p {
  margin: 10px 0px; }
.bundle-field .bundleGrid1 h5, .bundle-field .bundleGrid2 h5, .bundle-field .bundleGrid3 h5 {
  color: #c3d941;
  font-size: .875em;
  text-transform: uppercase; }
.bundle-field .bundleGrid1 ul, .bundle-field .bundleGrid2 ul, .bundle-field .bundleGrid3 ul {
  margin: 0 0 1rem;
  list-style-type: none; }
  .bundle-field .bundleGrid1 ul li, .bundle-field .bundleGrid2 ul li, .bundle-field .bundleGrid3 ul li {
    font-size: .95rem;
    margin-bottom: 1em;
    margin-top: 1em; }
    .bundle-field .bundleGrid1 ul li span, .bundle-field .bundleGrid2 ul li span, .bundle-field .bundleGrid3 ul li span {
      font-weight: bold;
      color: #c3d941;
      padding-right: 3px;
      font-size: .95rem; }

.last-choices {
  margin-left: 6px;
  margin-top: 6px; }
  .last-choices input {
    display: inline;
    width: 56px; }

.total-last-choices {
  width: 50%;
  display: inline; }

.form-section .additional-products {
  margin: 25px;
  margin-bottom: 5px !important;
  color: #c3d941;
  font-size: .875em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .125em; }
